{% extends "utils/site_base.html" %}


{% block title %}Gmap{% endblock title %}


{% block extra_head %}
<style type="text/css">
#map label { width: auto; }
#map img { max-width: none; }
</style>
 {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span1">
		</div>
		<div class="span10">
			<div  style="width:100%; height:400px;" id="map">
			</div>
		</div>
		<div class="span1">
		</div>
	</div>
</div>
{% endblock content %}

{% block extra_tail %}
<script type="text/javascript" src="{{ GOOGLE_MAPS_API_URL }}?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false&language=zh-CN"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps.js" %}"></script>
<script type="text/javascript">
{% include "gmap/index.js" %}
</script>
{% endblock%}
