{% extends "utils/site_base.html" %}


{% block title %}Gmap{% endblock title %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}utils/utils.css">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
	position: relative;
}

</style>
 {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span1">
		</div>
		<div class="span10">
			<div  class="map_canvas" style="height:400px" id="map">
			</div>
		</div>
		<div class="span1">
		</div>
	</div>
</div>
{% endblock content %}

{% block extra_tail %}
<script type="text/javascript" src="{{ GOOGLE_MAPS_API_URL }}?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false&language=zh-CN"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps.js" %}"></script>
<script type="text/javascript">
{% include "gmap/index.js" %}
</script>
{% endblock%}
