<p><strong>Address:</strong>{{ point.address }}</p>
<p><strong>Latitude:</strong>{{ point.latitude }}</p>
<p><strong>Longitude:</strong>{{ point.longitude }}</p>

{% if photos.count  %}
<p ><strong >Photo:</strong> </p>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
	{% for photo in photos %}
	<a href="{{ photo.image.url }}" target="_blank" title="{{ photo.name }}" data-gallery="gallery">
		<img class="img-polaroid" src="{{ photo.thumbnail.url }}">
	</a>
	{% endfor %}
</div>
{% endif %}
